In [1]:
import pandas as pd, numpy as np, calendar as cal, datetime as dt

# Serialisation json du fichier edges

In [2]:
df = pd.read_csv("data/edges.csv",sep =',',header = None)

In [3]:
df.columns = ['FROM', 'TO']

In [4]:
df.head()

     FROM      TO
0  151838  317823
1  151838   91631
2  151838   91943
3  151838   92060
4  151838   92073

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14067887 entries, 0 to 14067886
Data columns (total 2 columns):
FROM    int64
TO      int64
dtypes: int64(2)
memory usage: 214.7 MB

In [6]:
df.to_csv('data/new_edges.txt', sep = ' ',index = False, header= False)

In [6]:
imax=df.FROM.count()
imax

14067887

# Serialisation du fichier nodes

In [7]:
data = pd.read_csv("DATA/data-social-network/nodes.csv",sep =',',header = None)

In [8]:
data.columns = ['NODE']

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100199 entries, 0 to 100198
Data columns (total 1 columns):
NODE    100199 non-null int64
dtypes: int64(1)
memory usage: 782.9 KB

In [10]:
df_unique_from= pd.DataFrame(df.FROM.unique())
df_unique_from.columns = ['NODE']
df_unique_from.head()

     NODE
0  151838
1  100000
2   10000
3  100001
4  100002

In [11]:
df_unique_to=pd.DataFrame( df.TO.unique())
df_unique_to.columns = ['NODE']
df_unique_to.head()

     NODE
0  317823
1   91631
2   91943
3   92060
4   92073

In [12]:
df_unique_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689497 entries, 0 to 5689496
Data columns (total 1 columns):
NODE    int64
dtypes: int64(1)
memory usage: 43.4 MB

In [13]:
df_concat_from_to = pd.concat([df_unique_to, df_unique_from])

In [14]:
df_concat_from_to.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5826829 entries, 0 to 137331
Data columns (total 1 columns):
NODE    int64
dtypes: int64(1)
memory usage: 88.9 MB

In [15]:
df_node_total= pd.concat([df_concat_from_to, data])

In [16]:
df_node_total.head()

     NODE
0  317823
1   91631
2   91943
3   92060
4   92073

In [17]:
df_unique_node_total=pd.DataFrame( df_node_total.NODE.unique())

In [18]:
df_unique_node_total.columns = ['NODE']

In [19]:
df_unique_node_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689498 entries, 0 to 5689497
Data columns (total 1 columns):
NODE    int64
dtypes: int64(1)
memory usage: 43.4 MB

In [20]:
imax=df_unique_node_total.NODE.count()
imax

5689498

In [21]:
df_unique_node_total.to_csv('DATA/data-social-network/nodes_complet.csv', sep = ';',index = False)